# Environment variables
.env

# Dependencies
node_modules/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Uploads
uploads/
